.about-hero__wrapper{
  padding-top: 137px;
  padding-right: 750px;
  padding-bottom: 137px;
  padding-left: 85px;
  background-image: url("../../image/Bitmap.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}



.about-hero__heading{
  margin: 0;
  font-family: 'Fraunces';
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
}

.about-hero__desc{
  width: 445px;
  margin: 0;
  margin-top: 24px;
  line-height: 26px;
  color: #FEFCF7;
}
